{% extends 'base.html' %}
{% block body %}

<h3> Login as a User </h3>
<form action="{{ url_for('login') }}" method="POST">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <button>Login</button>
</form>

<br/><br/>

<h3> Login as an Admin </h3>
<form action="{{ url_for('login_admin') }}" method="POST">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <button>Login</button>
</form>
<h4> {{message}} </h4>

{% endblock %}
